
/* Navbar */

nav {
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
}

.navbar-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: auto;
}

.navbar-links li {
    margin: 0 5px;
}

.navbar-links a{
    text-decoration: none;
    color: var(--black);
    padding: 5px 10px;
}

.navbar-links a:hover {
    text-decoration: none;
    background-color: var(--platinum);
    border-radius: 5px;
}

.hero-section {
    margin-left: 4em;
    margin-right: 9em;
    margin-top: 3em;
    display: flex;
    justify-content: space-between;
}


.hero-summary-text {
    flex: 1;
    max-width: 50vw;
}

.profile-picture {
    flex-shrink: 0;
    align-self: flex-end;
    max-width: 400px;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.primary-btn {
    background-color: var(--black);
    color: var(--white);
    padding: 0.8em 1em;
    border-radius: 10px;
    margin: 2px;
}

.primary-btn:hover {
    background-color: #343a40;
    cursor: pointer;
}

.hero-socials {
    display: flex;
}

.social-btn {
    margin: 1.3em 0.5em;
    background-color: var(--platinum);
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-decoration: none;
    transition: scale 0.2s ease, translate 0.2s ease;
} 

.social-btn:hover {
    scale: 1.1;
    translate: 0 -3px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}


.social-btn img {
    width: 20px;
    height: 20px;
}


